@using System.Globalization;
@model IEnumerable<FlowersAndBushes.Models.Producto>

@{
    ViewBag.Title = "Administración de Productos";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink(" + Nuevo", "Crear", null, new { @class = "btn btn-success" })
<br/><br/>
<table class="table">
    <tr>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imágen</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if(@item.Tipo == 1)
        {
            <td>Planta</td>
        }
        else
        {
            <td>Adorno</td>
        }
        <td>@item.Nombre</td>
        <td>$ @String.Format("{0:n}", @item.Precio)</td>
        <td><img src="@String.Concat("/Content/Images/", @item.Imagen)" width="150" /></td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id}) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
